<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.cdt.internal.ui.refactoring.introducepimpl.actions.IntroducePImplActionHandler"
            description="PIMPL refactoring"
            id="org.eclipse.cdt.ui.refactoring.command.IntroducePImpl"
            name="Pimpl Function">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.cdt.internal.ui.refactoring.introducepimpl.actions.IntroducePImplActionHandler"
            commandId="org.eclipse.cdt.ui.refactoring.command.IntroducePImpl">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.eclipse.cdt.ui.editor.CEditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               id="org.eclipse.jdt.ui.refactoring.menu"
               label="Refactor">
            <command
                  commandId="org.eclipse.cdt.ui.refactoring.command.IntroducePImpl"
                  id="org.eclipse.cdt.ui.refactoring.command.IntroducePImpl"
                  label="PIMPL refactoring"
                  style="push"
                  tooltip="PIMPL refactoring">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.cdt.ui.refactoring.menu?after=additions">
         <command
               commandId="org.eclipse.cdt.ui.refactoring.command.IntroducePImpl"
               id="org.eclipse.cdt.ui.refactoring.command.IntroducePImpl"
               label="PIMPL refactoring"
               style="push"
               tooltip="PIMPL refactoring">
         </command>
      </menuContribution>
   </extension>
</plugin>
