<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!-- deprecated
	<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Action set containing coding related C/C++ actions"
            id="org.eclipse.cdt.internal.ui.refactoring.CodingActionSet"
            label="C/C++ Coding"
            visible="true">
         <menu
               label="Refactor"
               path="edit"
               id="org.eclipse.jdt.ui.refactoring.menu">
            <separator name="reorgGroup"/>
            <separator name="codingGroup"/>
            <separator name="reorgGroup2"/>
            <separator name="typeGroup"/>
            <separator name="typeGroup2"/>
            <separator name="codingGroup2"/>
            <separator name="typeGroup3"/>
            <separator name="historyGroup"/>
        </menu>
         <action
               class="org.eclipse.cdt.internal.ui.refactoring.introducepimpl.actions.IntroducePImplActionDelegate"
               id="org.eclipse.cdt.internal.ui.refactoring.introducepimpl.actions"
               label="Introduce PImpl..."
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup">
         </action>        
    </actionSet>
   </extension>
-->
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.cdt.internal.ui.refactoring.introducepimpl.actions.IntroducePImplActionHandler"
            description="PIMPL Refactoring"
            id="org.eclipse.cdt.ui.refactoring.command.IntroducePImpl"
            name="Pimpl Function">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.cdt.internal.ui.refactoring.introducepimpl.actions.IntroducePImplActionHandler"
            commandId="org.eclipse.cdt.ui.refactoring.command.IntroducePImpl">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.eclipse.cdt.ui.editor.CEditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               id="org.eclipse.jdt.ui.refactoring.menu"
               label="Refactor">
            <command
                  commandId="org.eclipse.cdt.ui.refactoring.command.IntroducePImpl"
                  id="org.eclipse.cdt.ui.refactoring.command.IntroducePImpl"
                  label="PIMPL Refactoring"
                  style="push"
                  tooltip="PIMPL Refactoring">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.cdt.ui.refactoring.menu?after=additions">
         <command
               commandId="org.eclipse.cdt.ui.refactoring.command.IntroducePImpl"
               id="org.eclipse.cdt.ui.refactoring.command.IntroducePImpl"
               label="PIMPL Refactoring"
               style="push"
               tooltip="PIMPL Refactoring">
         </command>
      </menuContribution>
   </extension>
</plugin>
